<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "admin/css/base.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>{% block title %} My Amazing Site {% endblock %}</title>
  </head>
  <body>
    <div id="sidebar">
      {% block sidebar %}
      <ul>
        <li><a href="/">Project Home</a></li>
        <li><a href="/admin/">Admin</a></li>
      </ul>
      {% endblock %}
      <br>
    </div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>
